<footer class="main-footer sticky footer-type-1" style="">
    <div class="footer-inner">
        <div class="footer-text">
            <strong>Codecracker</strong> by <a href="#" target="_blank">© Archit Srivastava | GNU Linux Users' Group, NIT Durgapur</a>
        </div>
        <div class="go-up">
            <a href="#" rel="go-top"> <i class="fa-angle-up"></i> </a>
        </div>
    </div>
</footer>