				<div class="page-title">
				    <div class="title-env">
				        <h1 class="title"><%= @title %></h1>
				        <p class="description"><%= @description %></p>
				    </div>
				    <div class="breadcrumb-env">
				        <ol class="breadcrumb bc-1">
				            <li> <a href="../../dashboard/variant-1/index.html"><i class="fa-home"></i>Home</a> </li>
				            <li class="active"> <strong><%= @title %></strong> </li>
				        </ol>
				    </div>
				</div>
