				<div class="page-title">
				    <div class="title-env">
				        <h2 class="title"><%= @title %></h2>
				        <p class="description" style="font-size:15px"><%= @description %></p>

				    </div>
				    <% if @contest_page %>
				        	<%= javascript_include_tag "flipclock.js" %>
                			<div class="clock" style="margin:1em;"></div>
                			<script type="text/javascript">
			                    var clock;

					            jQuery(document).ready(function() {

					                // Grab the current date
					                var currentDate = new Date();

					                // Set some date in the future. In this case, it's always Jan 1
					                var futureDate  = new Date("<%=@contest_end_time%>");//new Date(currentDate.getFullYear(), 0, 30);
					                console.log(futureDate);
					                // Calculate the difference in seconds between the future and current date
					                var diff = futureDate.getTime() / 1000 - currentDate.getTime() / 1000;
					                if (diff <=0) {
					                	return;
					                }

					                // Instantiate a coutdown FlipClock
					                clock = jQuery('.clock').FlipClock(diff, {
					                    clockFace: 'DailyCounter',
					                    countdown: true
					                });
					            });
			                </script>
				        <% end %>
				</div>
