				<div class="page-title">
				    <div class="title-env">
				        <h2 class="title"><%= @title %></h2>
				        <p class="description" style="font-size:15px"><%= @description %></p>
				        <% if @contest_page %>
				        	
				        <% end %>
				    </div>
				</div>
