    <nav class="navbar horizontal-menu navbar-fixed-top navbar-minimal">
        <div class="navbar-inner">
<!--             <div class="navbar-brand">
                <a href="../../dashboard/variant-1/index.html" class="logo"> <img src="../../assets/images/logo-white-bg%402x.png" width="80" alt="" class="hidden-xs" /> <img src="../../assets/images/logo%402x.png" width="80" alt="" class="visible-xs" /> </a>
                <a href="#" data-toggle="settings-pane" data-animate="true"> <i class="linecons-cog"></i> </a>
            </div>
 -->            <div class="nav navbar-mobile">
                <div class="mobile-menu-toggle">
                    <a href="#" data-toggle="settings-pane" data-animate="true"> <i class="linecons-cog"></i> </a>
                    <a href="#" data-toggle="user-info-menu-horizontal"> <i class="fa-bell-o"></i> <span class="badge badge-success">7</span> </a>
                    <a href="#" data-toggle="mobile-menu-horizontal"> <i class="fa-bars"></i> </a>
                </div>
            </div>
            <div class="navbar-mobile-clear"></div>
            <!-- main menu -->
            <ul class="navbar-nav">
                <li> <a href="/home"><i class="fa-home"></i><span class="title">Contests</span></a>
                <li> <a href="/submissions"><i class="fa-signal"></i><span class="title">Submissions</span></a>
                </li>
            </ul>
            <ul class="nav nav-userinfo navbar-right">
            <% if current_user.role =="admin" %>
                <li>
                    <a href="/sidekiq" class="notification-icon">
                        <span>
                            <strong>Process queue</strong>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/admin" class="notification-icon">
                        <span>
                            <strong>Admin Panel</strong>
                        </span>
                    </a>
                </li>
                <% end %>
                <li class="dropdown user-profile">
                    <a href="#" class="notification-icon" data-toggle="dropdown">
                        <span>
                            <strong><%=current_user[:full_name]%></strong>
                        </span>
                    </a>
                    <ul class="dropdown-menu user-profile-menu list-unstyled">
                        <li class="last">
                            <%= link_to('<i class="fa-lock"></i> Logout'.html_safe, destroy_user_session_path, method: :delete) %>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>