<!-- Website by Archit Srivastava -->

<!DOCTYPE html>
<html lang="en">

<head>
    <%= render partial: 'layouts/head' %>
</head>

<body class="page-body login-page">
    <div class="login-container">
        <div class="row">
            <div class="col-sm-6">
                <script type="text/javascript">
                    jQuery(document).ready(function($) {
                        // Reveal Login form
                        setTimeout(function() {
                            $(".fade-in-effect").addClass('in');
                        }, 1);


                        // Set Form focus
                        $("form#login .form-group:has(.form-control):first .form-control").focus();
                    });
                </script>
                <div class="errors-container"> </div>
                    <%= yield %>
            </div>
        </div>
    </div>
    <%= javascript_include_tag "application_footer.js" %>
</body>

</html>
