<!DOCTYPE html>
<html lang="en">

<head>
    <%= render partial: 'layouts/head' %>
</head>

<body class="page-body login-page">
    <div class="login-container">
        <div class="row">
            <div class="col-sm-6">
                <div class="errors-container"> </div>
                    <%= yield %>
<!--                 <div class="external-login">
                    <a href="#" class="facebook"> <i class="fa-facebook"></i> Facebook Login
                    </a>
                </div> -->
            </div>
        </div>
    </div>
</body>

</html>
